.product-list-item {
    padding: 15px;

    .product-title {
        text-align: center;
        font-size: 25px;
        margin: 10px;
    }

    .product-img {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        img {
            width: 150px;
            height: 200px;
        }
    }

    .product-desc {
        font-size: 14px;
    }

    .product-features {
        font-size: 16px;
        margin: 10px 0;

        span {
            font-weight: bold;
        }
    }

    .product-price {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .btn-wrap {
        display: flex;
        justify-content: center;
    }
}

// ----------------------------------------
.red {
    background-color: red;
}

.green {
    background-color: green;
}