.iconcart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103px;
    height: 123px;

    img {
        width: 100px;
        height: 120px;

        &:hover {
            width: 102px;
            height: 122px;
        }
    }
}