@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins&family=Roboto:wght@300&display=swap');
// $Poppins:'Poppins',
// sans-serif;
// //---
$Nunito:'Nunito',
sans-serif;
// title
$Roboto:'Roboto',
sans-serif;
// text
$testColor1:tomato;
$testColor2:rgb(221, 245, 0);



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100px;

    .logo {
        margin-left: 50px;

        h2 {
            font-family: $Nunito;
            font-size: 30px;
        }
    }

    .nav {
        ul {
            display: flex;
            list-style: none;

            li {
                margin-right: 40px;

                a {
                    font-family: $Roboto;
                    padding: 5px;
                    text-decoration: none;
                    color: black;
                    font-size: 16px;

                    &:hover {
                        color: rgba(0, 0, 0, 0.428);
                    }

                    &:active {
                        color: rgba(0, 0, 0, 0.22);
                    }

                    &:focus {
                        color: rgba(0, 0, 0, 0.22);
                    }
                }
            }
        }
    }
}